* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 231, 231);
    height: 100vh;
    text-align: center;
}

.header {
    border: 2px solid black;
    display: flex;
    width: 50%;
    padding: 4rem 0;
    flex-direction: column;
    text-align: center;
    align-items:center ;
    
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sign {
    color: blue;
    font-size: 3.5rem;
}


.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; 
}
.form-input input {
    padding: .5rem;
    width: 150%;
    margin-top: 4px;
    background-color: transparent;
    color: rgb(17, 9, 9);
    border-top: none;
    text-transform: capitalize;
    outline: none;
    border-left: none;
    border-right: none;

}
.login {
    text-decoration: none;
}

.log {
    font-size: 1rem;
}
.button {
    
}

.button button {
    padding: 4px 25px;
    margin-top: 1.5rem;
    color: rgb(247, 245, 245);
    background-color: black;
    cursor: pointer;
    border-radius: 5px;

}

p {
    color: red;
    margin-top: 1rem;
}